header {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-left: 15%;
    font-size: 11vw;
    display: inline-block;
    flex-wrap: flex;
    color: #2F4035;
}

/* Navigation styling */

nav {
    position: relative;
    margin-top: %;
    left: 2%;
    display: inline-block;
    flex-wrap: wrap;   
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: #BCBAB4;
    text-decoration: none;
    font-size: 1.5em;
    transition: .5s ease;
}

/* Link styling */

a:hover {
    color: #BF8069;
}

/* Blog */

.blogcontainer {
    width: 100%;
    margin-top: 5%;
    margin-left: %;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
}

.box {
    width: 300vw;
    height: 33vh;
    margin: 5%;
    background-color: #DCBC94;
    color: #2F4035;
  }

  footer {
    font-family: Arial, Helvetica, sans-serif;
    color: #BF8069;
    font-size: 1vw;
    position: relative;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
}


  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other 
  @media screen and (max-width: 800px) {
    .blogcontainer {   
       flex-direction: column;
     }
   }