* {
    background-color: #D9D6D0;
    
   
}




header {
    display: flex;
    flex-direction: row;
    align-content: left;
    align-items: right;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: #314035;
    background-color: #A69472;
    text-decoration: none;
    flex-direction: row;
    align-items: right;
    font-size: 2em;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
}