* {
    background-color: #D9D6D0;
    
   
}




header {
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    float: right;
    display: block;
    padding: 14px;
    /* Text aling is horizontal 
    text-align: left;
    /* align items is vertical 
    align-items: right;
    padding: 1.5rem;*/
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: #314035;
    text-decoration: none;
    font-size: 4em;
    float: right;
    display: block;
    padding: 14px;
   
    
}