

/* Split screen */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #2F4035;
    
  }
  
  /* Control the right side */
  .right {
    right: 0;
    display: inline-block;
    flex-wrap: wrap;
  }
  
  /* Image container */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Image styling */
  .centered img {
    display: block;
    width: 50vh;
    height: auto;
   
  }

/* Image overlay*/

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #A16D5A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
  }
  
  .centered:hover .overlay {
    opacity: .8;
  }
  
  .text {
    color: #D9D7D0;
    position: relative;
    top: 70%;
    left: 0%; 
  }

  .rightnav {
    position: relative;
    top: 40%;
    left: 20%;
  }

  /* Nav styling */
nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: #BCBAB4;
    text-decoration: none;
    font-size: 6.5vw;
    transition: .5s ease;
}

a:hover {
    color: #BF8069;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
    color: #2F4035;
    font-size: 1.5vw;
}